# Emacs things
\#*#

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
files/.emacs.d/*
*.elc
# But don't ignore these specific locations.
!files/.emacs.d/eshell/alias
!files/.emacs.d/lisp
!files/.emacs.d/snippets
!files/.emacs.d/init.el
!files/.emacs.d/custom.el
!files/.emacs.d/themes

#Ignore vim stuff
.vim/
!.vim/peakbreaker-snippets
.viminf*
.sc-iminfo

# Generated
.config/watson
.shortcuts
.config/ranger/shortcuts.conf
.oh-my-zsh
.gem
.bundle
.npm
.bash_history
.zsh_history
.recently-used
.zshrc.pre-oh-my-zsh
.wget-hsts
.screenlapse*/
.cache/
.zcompdump*
.esd_auth
.lesshst

# Programs and installs
venv/
.local/
.dropbox*/

# Stuff I dont want under VC
.ssh
.w3m
.config/KeePass

# User folders
Documents/
Downloads/
Dropbox/
Pictures/
Videos/

#files/.vim/plugged
#files/.vim/.netrwhist

# Various
.azure*
.bash_logout
.config/spotify
.mono
.mozilla
go
tags*
.python_history
mono_crash*
.gnupg
