! special
*.foreground:   #34302d
*.background:   #f5e7de
*.cursorColor:  #34302d

! black
*.color0:       #666661
*.color8:       #7f7f7a

! red
*.color1:       #992e2e
*.color9:       #b23636

! green
*.color2:       #4c3226
*.color10:      #664233

! yellow
*.color3:       #a67c53
*.color11:      #bf8f60

! blue
*.color4:       #4c7399
*.color12:      #5986b2

! magenta
*.color5:       #bf9986
*.color13:      #d9ae98

! cyan
*.color6:       #d97742
*.color14:      #f2854a

! white
*.color7:       #34302d
*.color15:      #4c4742

!! URxvt specific settings

!! URxvt.intensityStyles:    false
!! URxvt.background:       [70]#000000
URxvt.depth:        32
URxvt.font:         xft:monospace:size=11
!! URxvt.scrollBar:    false
!! URxvt.cursorColor:  white

!! Extensions
URxvt.perl-ext-common:  default,matcher,resize-font,keyboard-select
URxvt.colorUL:      #4682B4
!! resize-font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show 
!! url-select
!! URxvt.keysym.M-u:   perl:url-select:select_next
!! URxvt.url-select.launcher: linkhandler
!! URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! Matcher
URxvt.matcher.button:   1
URxvt.keysym.C-Delete:    matcher:last
URxvt.keysym.M-Delete:    matcher:list
!! regexps
!! .0 for web links 
URxvt.matcher.pattern.1: \\B(/\\S+?):(\\d+)(?=:|$)               ! gcc and all 
URxvt.matcher.pattern.2: (?:\\s)([\\~\\.]?\\/\{1,1\}[\\.\\w]\\S+)\\b
!! launchers . Need all 0..x defined  
URxvt.matcher.launcher.0: xdg-open 
URxvt.matcher.launcher.1: vim +$2 $1
URxvt.urlLauncher:          xdg-open
